*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    overflow-x:hidden; 
    width:100%; 
}

a{
    text-decoration: none;
}

nav ul{
    list-style: none;
    display: inline-block;
}

/* =========================
   Header
========================= */
header{
    z-index: 10;
    /* position: fixed; */
    position: relative;
    min-width: 100vw;
}

#globalnav{
    display: flex;
    width: 100%;
    height: 48px;
    line-height: 25px;
    /* background-color: rgba(22, 22, 23, 0.8); */
    background-color: #f5f5f7;
    align-items: center;
    /* justify-content: center; */
}

#globalnav a{
    display: inline-block;
}

#globalnav img{
    width: 17px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

#globalnav ul li{
    display: inline-block;
    font-size: 12px;
}

#globalnav ul li{
    margin: 0px 60px;
}

#globalnav ul li a:hover{
    color: #ffffff;
    font-weight: 500;
}

#globalnav ul li a:link,
#globalnav ul li a:visited{
    color: rgb(232, 232, 237);  
}

/* dropdown-menu */
.dropdown-panel{
    position: absolute;
    background-color: rgba(22, 22, 23);
    top: 48px;
    left: 0;
    width: 100vw;
    padding: 40px 400px;
    max-width: 100vw;
    margin: 0 auto;
    display: none;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 20px;
}

#globalnav > ul > li:hover .dropdown-panel{
    display:grid;
}

.panel-col{
    display: flex;
    flex-direction: column;
}

.panel-col h4{
    margin:0 0 14px;
    font-size:11px;
    font-weight: 400;
    color:#aaa;
}

.panel-col a{
    display:block;
    text-decoration:none;
    color:#ffffff;
    padding:4px 0;
}

.panel-list a{
    font-size: 21px;
}

.panel-etc a{
    font-size: 12px;
}

/* =========================
   Main
========================= */
main {
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
  padding: 0;
}

/* =========================
   Index page
========================= */
.copy-wrapper{
    width: 100%;
    height: auto;
    padding-top: 90px;
    text-align: center;
}

.section-iphon17pro .copy-wrapper{
    color: #ffffff;
    background-color: #000000;
}

.copy-wrapper h2{
    font-size: 32px;
    font-weight: 500;
}

.copy-wrapper p{
    font-size: 19px;
    font-weight: 300;
}

@media (min-width: 768px){
    .copy-wrapper h2{
        font-size: 56px;
    }

    .copy-wrapper p{
        font-size: 28px;
    }
}

.copy-button a{
    font-size: 17px;
    font-weight: 300;
    border: 1px solid #0071e3;
    color: #0071e3;
    min-width: 28px;
    padding: 11px 21px;
    margin: 22px 18px 0px 18px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    border-radius: 980px;
}

.copy-button a.active,
.copy-button a:hover{
    background-color: #0071e3;
    color: #ffffff;
}

.img-wrapper{
    width: 100%;
    height: 190px;
    overflow: hidden;
    position: relative;
}

.content-section img{
    width: 100%;
    height: 190px;
    overflow: hidden;
    position: relative;
    object-fit: cover;
}

@media (min-width: 768px){
    .img-wrapper{
        height: 350px;
    }

    .content-section img{
        height: 350px;
    }
}

.content-section > div{
    height: inherit;
    padding: 5px 0;
}


.section-iphonAir .copy-wrapper{
    background-color: rgb(245, 245, 247);
    color: #000000;
}

.section-collection{
    text-align: center;
}

.item-wrapper{
    /* width: 49%; */
    display: inline-block;
    padding: 5px 0;
    position: relative;
}

.item-wrapper img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

@media (min-width: 768px){
    .item-wrapper img{
        height: 490px;
    }

    .item-wrapper{
        padding: 5px;
    }
}

@media (min-width: 1024px){
    .item-wrapper img{
        height: 580px;
    }
}

.section-collection .copy-wrapper{
    /* padding-top: 60px; */
    padding-top: 40px;
    position: absolute;
    left: 0;
}

.section-collection .copy-wrapper h2{
    font-size: 32px;
}

@media (min-width: 1025px){
    .section-collection .copy-wrapper{
        /* padding-top: 60px; */
        padding-top: 60px;
    }

    .section-collection .copy-wrapper h2{
        font-size: 40px;
    }

    .section-collection .copy-wrapper p{
        font-size: 21;
        padding-top: 10px;
    }
}

.section-collection .copy-wrapper p{
    font-size: 19px;
    padding-top: 5px;
}

.section-collection .copy-button a{
    font-size: 14px;
    padding: 7px 15px;
    margin: 20px 5px 0px 5px;
}

.color-white{
    color: #ffffff;
}

/* =========================
   Store page
========================= */
.dd-container {
  width: 100vw;
  height: 88px;
}

.dd-colors {
    transform: translate3d(0,0,0) translateY(-10px);
    opacity: 1;
}

.dd-color{
    filter: blur(17px);
    position: absolute;
    border-radius: 50%;
    will-change: transform;
    transform: translate3d(0,0,0);
}

.dd-blue {
    width: 60vw;
    height: 75px;
    top: -100px;
    left: 0;
    background: #00a0ff;
    animation: blue-animation 1s ease .2s forwards;
}

.dd-orange {
  width: 50vw;
  height: 50px;
  background: #fa8238;
  top: -75px;
  right: 0;
  animation: orange-animation 1.5s ease-out forwards .5s;
}

.dd-yellow-orange {
  width: 25vw;
  height: 150px;
  background: linear-gradient(90deg,#f1e8c8,#f1e8c8,#f1e8c8,#fdb545,#fdb545,#fa8238);
  top: -200px;
  right: 30%;
  animation: yellow-orange-animation 1.2s ease-in-out forwards;
}

.dd-blue-yellow {
  width: 15vw;
  height: 150px;
  background: linear-gradient(90deg,#00a0ff,#91dafc,#91dafc,#f1e8c8,#f1e8c8);
  top: -200px;
  left: 35vw;
  animation: blue-yellow-animation 2s ease-in-out forwards;
}

@keyframes blue-animation {
  0% {
    top:-100px;
    transform:translateX(0)
  }
  50% {
    top:-50px;
    transform:translateX(-15%)
  }
  100% {
    top:-50px;
    transform:translateX(-5%)
  }
}

@keyframes orange-animation {
  0% {
    top:-75px;
    right:10vw
  }
  50% {
    top:-30px
  }
  100% {
    top:-28px;
    right:-1vw
  }
}

@keyframes yellow-orange-animation {
  0% {
    top:-200px;
    transform:scaleX(50%) translateX(0)
  }
  25% {
    top:-110px;
    transform:scaleX(70%) translateX(-10%)
  }
  50% {
    top:-130px;
    transform:scaleX(225%) translateX(-5%)
  }
  100% {
    top:-110px;
    transform:scaleX(225%) translateX(0)
  }
}

@keyframes blue-yellow-animation {
  0% {
    top:-200px;
    transform:scaleX(100%) translateX(0)
  }
  25% {
    top:-110px;
    transform:scaleX(150%) translateX(0)
  }
  50% {
    top:-120px;
    transform:scaleX(225%) translateX(10%)
  }
  100% {
    top:-105px;
    transform:scaleX(220%) translateX(5%)
  }
}

.store-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgb(245, 245, 247);
    /* padding: 0 100px 70px 100px; */
}

.store-wrapper h2{
    padding: 30px 0;
}

.store-title-section{
    /* padding: 80px 20px 64px 20px; */
    padding: 0px 20px 0px 20px;
    font-size: 25px;
    font-weight: 500;
}

#store-title{
    /* float: left; */
    /* font-size: 80px; */
    font-size: 48px;
    font-weight: 500;
}

#store-title h1{
    background-image: linear-gradient(to right,#337ae5 0,#408fe5 34%,#d4734a 71%,#ea6b2e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#store-description{
    /* float: right; */
}

#store-description a{
    font-size: 12px;
    font-weight: 300;
    color: rgb(0, 102, 204);
}

#store-description a:hover{
    text-decoration: underline;
}

.store-item-preview-wrapper{
    clear: both;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    /* padding-top: 50px; */
}

.store-item-preview-wrapper div{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.store-item-preview-wrapper div img{
    width: 90%;
}

.store-item-preview-wrapper div a{
    color:rgb(29, 29, 31);
    font-size: 14px;
    font-weight: 600;
}

.store-item-preview-wrapper div a:hover{
    text-decoration: underline;
}

.store-flex-box{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 10px;
}

.slider:not(:hover) {
    scrollbar-width: none;
}

.slider{
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #88888834 #f0f0f090;
}

.store-flex-box-lg{
    position: relative;
    border-radius: 18px;
    overflow: hidden;
    height: 480px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    width: 80vw;
    max-width: 480px;
}

.store-flex-box-item{
  flex-shrink: 0;
  scroll-snap-align: start;
  transition: all 300ms ease-in-out;
}

.store-flex-box-item:hover {
  box-shadow: 2px 4px 16px #00000029;
  transform: scale(1.01);
}

.store-item-desc{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-left: 20px;
}

.store-item-desc h3{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 15px;
}

.store-item-desc p{
    font-size: 14px;
}

.store-item-section img{
    height: 100%;
    margin-right: 20px;
    width: 100%;
    object-fit: cover;
    display: block;
}

.store-prod-img{
    width: 100%;
    height: 480px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08); */
    border-radius: 18px;
    margin-right: 20px;
}

.store-prod-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 270px;
    height: 480px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 18px;
    margin-right: 20px;
    background-color: #ffffff;
}

.store-prod-box img{
    width: 200px;
    align-self: center;
    flex: 0 0 200px;
    order: 1;
}

.store-prod-desc{
    order: 2;
}

.store-prod-desc p{
    font-size: 16px;
    font-weight: 500;
    padding: 50px 0;
}

.store-prod-desc span{
    font-size: 13px;
    font-weight: 300;
}

.color-337ae5{
    color: #337ae5;
}

.color-408fe5{
    color: #408fe5;
}

.color-8a8198{
    color: #8a8198;
}

.color-d4734a{
    color: #d4734a;
}

.color-ea6b2e{
    color: #ea6b2e;    
}

.color-gray{
    color: rgb(110, 110, 115);
}

.store-section-title{
    font-size: 26px;
    font-weight: 500;
    padding: 0px 0 20px 15px;
}

.store-section-title h2{
    background-image: linear-gradient(to right,#337ae5 0,#408fe5 34%,#d4734a 71%,#ea6b2e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* =========================
   Accessories page
========================= */
.acc-banner-section img{
    width: 100%;
}

.acc-banner{
    text-align: right;
}

.acc-banner img{
    position: relative;
}

.acc-banner div{
    position: absolute;
    top: 15%;
    right: 200px;
}

.acc-banner div h2{
    font-size: 48px;
    font-weight: 500;
}

.acc-banner div p{
    font-size: 20px;
    padding: 15px 0;
    font-weight: 300;
}

.acc-banner div ul{
    font-size: 20px;
    font-weight: 300;
    list-style: none;
}

.acc-banner div ul a:link,
.acc-banner div ul a:visited{
    color: rgb(0, 102, 204);
}

.acc-banner div ul a:hover{
    text-decoration: underline;
}

.acc-banner div ul a:active{
    font-weight: 500;
}

.acc-search-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    gap: 30px;
}

.acc-search-section h2{
    font-size: 32px;
    font-weight: 500;
}

.acc-icons-section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.acc-icons-wrapper{
    padding: 50px 0;
    display: grid;
    grid-template-areas: 
    "mac ipad iphone watch vision"
    ". airpods tv beats .";
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 188px 188px;
    width: 70%;
    border-top: 1px solid rgb(210, 210, 215);
    gap: 30px;
}

.mac{
    grid-area: mac;
}

.ipad{
    grid-area: ipad;
}

.iphone{
    grid-area: iphone;
}

.watch{
    grid-area: watch;
}

.vision{
    grid-area: vision;
}

.airpods{
    grid-area: airpods;
}

.tv{
    grid-area: tv;
}

.beats{
    grid-area: beats;
}

.acc-icons-wrapper > div{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 143px auto;
    align-items: center;
    justify-items: center;
}

.acc-icons-wrapper img{
    width: 75px;
    height: 75px;
}

.acc-icons-wrapper > div > div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 143px;
    height: 143px;
    border-radius: 50%;
    border: 1px solid rgb(210, 210, 215);
}

.acc-icons-wrapper a{
    font-size: 16px;
    font-weight: 300;
    align-self: end;
}

/* =========================
   Support page
========================= */
.banner-wrapper{
  width: 100%;
  height: 600px;
  overflow: hidden;
  box-sizing: border-box;
  padding-top: 50px;
}

.banner-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  object-position: center;
}

.support-wrapper > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.support-img-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

.support-img-box > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.support-img-box img{
    height: 70px;
    justify-self: center;
}

.support-img-box a{
    width: 110px;
    color: #000000;
    font-weight: 300;
}

.as-title-wrapper > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 333px;
    height: 180px;
    color: rgb(0, 102, 204);
    background-color: rgb(245, 245, 247);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 18px;
}

.as-title-wrapper img{
    width: 60px;
}

.support-wrapper h2{
    font-size: 32px;
    font-weight: 500;
}

.search-wrapper input{
    width: 600px;
    height: 55px;
    border: 1px solid rgb(210, 210, 215);
    border-radius: 12px;
    padding: 0 20px;
}

/* =========================
   Footer
========================= */
footer{
    width: 100%;
    background-color: rgb(245, 245, 247);
    font-size: 12px;
    color: rgba(0, 0, 0, 0.56);
    padding: 50px 20px;
}

.footer-info a{
    color: rgb(0, 102, 204);
    text-decoration: underline;
}

#footer-line{
    border-bottom: 1px solid rgba(0, 0, 0, 0.092);
    display: inline-block;
    width: 100%;
    margin: 20px 0;
}

footer ul{
    margin: 5px 0;
    display: inline-block;
}

footer ul li{
    display: inline;
    border-right: solid 1px rgba(0, 0, 0, 0.56);
    padding:0 10px;
}

footer ul li:hover{
    text-decoration: underline;
}

footer ul li:first-child{
    padding-left: 0;
}

footer ul li:last-child{
    border-right: none;
}

footer ul li a:link,
footer ul li a:visited{
    color: rgba(0, 0, 0, 0.56);
}




