*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
}

a{
    text-decoration: none;
}

nav ul{
    list-style: none;
    display: inline-block;
}

/* header */
header{
    z-index: 10;
    position: fixed;
    min-width: 100vw;
}

#globalnav{
    display: flex;
    width: 100%;
    height: 48px;
    line-height: 25px;
    background-color: rgba(22, 22, 23, 0.8);
    align-items: center;
    justify-content: center;
}

#globalnav a{
    display: inline-block;
}

#globalnav img{
    width: 17px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

#globalnav ul li{
    display: inline-block;
    font-size: 12px;
}

#globalnav img,
#globalnav ul li{
    margin: 0px 60px;
}

#globalnav ul li a:hover{
    color: #ffffff;
    font-weight: 500;
}

#globalnav ul li a:link,
#globalnav ul li a:visited{
    color: rgb(232, 232, 237);  
}

/* main */
main {
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
  padding: 0;
}

.copy-wrapper{
    width: 100%;
    height: auto;
    padding-top: 90px;
    text-align: center;
}

.section-iphon17pro .copy-wrapper{
    color: #ffffff;
    background-color: #000000;
}

.copy-wrapper h2{
    font-size: 56px;
    font-weight: 500;
}

.copy-wrapper p{
    font-size: 28px;
    font-weight: 300;
}

.copy-button a{
    font-size: 17px;
    font-weight: 300;
    border: 1px solid #0071e3;
    color: #0071e3;
    min-width: 28px;
    padding: 11px 21px;
    margin: 22px 18px 0px 18px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    border-radius: 980px;
}

.copy-button a.active,
.copy-button a:hover{
    background-color: #0071e3;
    color: #ffffff;
}

.content-section img{
    width: 100%;
}

.section-iphonAir .copy-wrapper{
    background-color: rgb(245, 245, 247);
    color: #000000;
}

.section-collection{
    text-align: center;
}

.item-wrapper{
    width: 49%;
    display: inline-block;
    padding: 5px;
    position: relative;
}

.item-wrapper img{
    width: 100%;
}

.section-collection .copy-wrapper{
    padding-top: 60px;
    position: absolute;
    left: 0;
}

.section-collection .copy-wrapper h2{
    font-size: 40px;
}

.section-collection .copy-wrapper p{
    font-size: 21px;
    padding-top: 10px;
}

.section-collection .copy-button a{
    font-size: 14px;
    padding: 7px 15px;
    margin: 20px 5px 0px 5px;
}

.color-white{
    color: #ffffff;
}

/* store page */
.store-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgb(245, 245, 247);
    padding: 0 100px;
}

.store-title-section{
    padding: 80px 20px 64px 20px;
    font-size: 25px;
    font-weight: 500;
    height: 250px;
}

#store-title{
    display: inline-block;
    float: left;
    font-size: 80px;
    font-weight: 500;
}

#store-description{
    display: inline-block;
    float: right;
}

#store-description a{
    font-size: 12px;
    font-weight: 300;
    color: rgb(0, 102, 204);
}
#store-description a:hover{
    text-decoration: underline;
}

.store-item-preview-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.store-item-preview-section div{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.store-item-preview-section div img{
    width: 90%;
}

.store-item-preview-section div a{
    color:rgb(29, 29, 31);
    font-size: 14px;
    font-weight: 600;
}

.store-item-preview-section div a:hover{
    text-decoration: underline;
}

/* #337ae5 #408fe5 #8a8198 #d4734a #ea6b2e */


/* support page */
.banner-wrapper{
  width: 100%;
  height: 600px;
  overflow: hidden;
  box-sizing: border-box;
  padding-top: 50px;
}

.banner-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  object-position: center;
}

.support-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 200px 300px 100px 100px;
    text-align: center;
    align-items: center;
}

.support-wrapper > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.support-img-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

.support-img-box > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.support-img-box img{
    height: 70px;
    justify-self: center;
}

.support-img-box a{
    width: 110px;
    color: #000000;
    font-weight: 300;
}

.as-title-wrapper{
    gap: 25px;
}

.as-title-wrapper > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 333px;
    height: 180px;
    color: rgb(0, 102, 204);
    background-color: rgb(245, 245, 247);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 18px;
}

.as-title-wrapper img{
    width: 60px;
}

.support-wrapper h2{
    font-size: 32px;
    font-weight: 500;
}

.search-wrapper input{
    width: 600px;
    height: 55px;
    border: 1px solid rgb(210, 210, 215);
    border-radius: 12px;
    padding: 0 20px;
}


/* footer */
footer{
    width: 100%;
    background-color: rgb(245, 245, 247);
    font-size: 12px;
    color: rgba(0, 0, 0, 0.56);
    padding: 50px 20px;
}

.footer-info a{
    color: rgb(0, 102, 204);
    text-decoration: underline;
}

#footer-line{
    border-bottom: 1px solid rgba(0, 0, 0, 0.092);
    display: inline-block;
    width: 100%;
    margin: 20px 0;
}

footer ul{
    margin: 5px 0;
    display: inline-block;
}

footer ul li{
    display: inline-block;
    border-right: solid 1px rgba(0, 0, 0, 0.56);
    padding:0 10px;
}

footer ul li:hover{
    text-decoration: underline;
}

footer ul li:first-child{
    padding-left: 0;
}

footer ul li:last-child{
    border-right: none;
}

footer ul li a:link,
footer ul li a:visited{
    color: rgba(0, 0, 0, 0.56);
}
